/* declarando uma variavel dentro do elemento root, guardando as cores que majoritariamente iremos usar */
:root {
    --vermelho: #e50914;
    --preta: #141414;
}

/**  este *{} é chamado de reset, ele faz declarações que se referem a todo documento que está sendo renderizado aqui dentro, formatando de forma genérica, para que se adapte a qualquer navegador**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /** para os elementos internos não sejam maiores q as caixas, o limite é a borda da caixa **/
}


/* o css (folha de estilo em cascata) ele herda todas as formatações que o elemento pai tem, por isso as aplicações do body aplicam-se nas divs dentro dele. por isso a alteração de cor foi feita no body e não no h3 titulo */

/*elementos base*/
body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex; /*flex box é um time de alinhar os elementos em tela*/
    flex-direction: row; /*por padrão ja devolve uma flex direction row*/
    align-items: center; /*alinha os elementos de maneira vertical pois flex está em row*/
    justify-content: space-between; /*alinha os elementos de maneira horizontal seguindo a direção do flex direction em row*/

}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}


header nav a{ 
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;

}
/* toda vez q o mouse tiver em cima, muda a cor */
header nav a:hover{
    color: #fff;
}


/*anime principal*/
/*Importante salientar que a filha principal irá herdar as características flex da div pai. A div botoes, por padrão, ao ser criada, é considerada um display block, sem herdar as características da flex box*/
.anime-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.50)100%), url('../img/OP.jpg'); /*colocando a imagem de background. a prop rgba tem q se repetir pois p gradiente pede mais de 1 cor*/
    height: 600px; /*tamanho da caixa*/
    background-size: cover; /*especifica o tamanho da imagem de background*/

    display: flex; /*joga os elementos por padrao em linha*/
    flex-direction: column;  /*portanto usa se o flex direction para joga-los em coluna*/
    justify-content: center; /*centraliza de forma veritical pois o flex direction ta em column*/
    align-items: flex-start; /*alinha os elementos de forma horizontal pois flex direction está em column. Quero q os elementos iniciem na esquerda*/
    border-radius: 1%;
}

.anime-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.anime-principal .titulo{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*rgba vermelho, verde, azul e camada alfa*/
.botao{
    background-color: rgba(0,0,0,.30); 
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all; /*cuida da parte da transição, entre uma animação e outra*/
}

/*invertendo as cores ao passar o mouse*/
.botao:hover{
    background-color: white;
    color: black;
}
.botao i{
    margin-right: 7px;
}

.container{
    margin-left: 25px;
}

.anime-principal .container{
    width: 70%;
}

/*especificando altura e largura para as imagens*/
.box-anime{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 5%;
}

.carrossel-animes{
    margin-top: 10px;
}

.textolink{
    text-decoration: none;
    color: white;
}
.nome-anime{
    text-align: center;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.box-anime:hover{
    border: 2px solid #be0000;
}

footer .container{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: left; 
    margin-top: 15px;
    margin-bottom: 5px;

}

footer .rodape{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

footer .contact{ 
    text-decoration: none;
    color: #aaa;
    margin-left: 10px;

}

